@import "../../utils/variables";

.circleBtn {
  background-color: $background-colour;
  color: $text-colour;
  border-radius: 25px;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 0;

  &:hover {
    background-color: $black-accent-colour;
  }

  &.danger:hover {
    background-color: $error-colour;
  }

  &.safe:hover {
    background-color: $safe-color;
  }
}
