@import "../../utils/variables";

.viewWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #484545;
  //background: white;
  z-index: 2;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

//todo tmp
h2, h4 {
  color: white;
  margin: 10px;
}


button {
  background-color: $background-colour;
  color: $text-colour;
  border-radius: 25px;
  width: 32px;
  padding: 8px;
  border: 0;

  &:hover {
    background-color: $black-accent-colour;
  }
}

.accountTitle {
  color: white;
}

.accountSubtitle {
  font-size: small;
}
