@import "../../utils/variables";

.viewWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #484545;
  //background: white;
  z-index: 2;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

//todo tmp
h2, h4 {
  color: white;
  margin: 10px;
}


/*
table {
  border-collapse: collapse;
  width: calc(min(100%, 50em));
  margin: 25px auto;
  thead {
    border-bottom: 1px solid grey;
    tr th {
      font-size: 16px;
      padding: 8px;
      //letter-spacing: 1px;
      text-align: left;
    }
  }
  tbody {
    tr:hover {
      background-color: lighten($background-colour-tmp, 4%);
    }
    tr td {
      padding: 8px;
      p {
        margin: 0;
      }
    }
  }
  thead tr th:nth-last-child(1), tbody tr td:nth-last-child(1) {
    text-align: right;
  }
}*/

.accountTitle {
  color: white;
}

.accountSubtitle {
  font-size: small;
}
