.evaluator {
  text-align: left;
  margin-bottom: 10px;

  .strength {
    font-size: medium;
    font-weight: bold;
    margin: 5px 0;
  }

  .time {
    font-size: small;
    margin: 0;
  }

  .msg {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
