@import "../../utils/variables";

.generatorPage {
  .generator {
    @include padding(58px);
    background-color: $black-accent-colour;
  }

  .text {
    grid-area: text;
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .actions {
    grid-area: actions;
    text-align: right;

    button {
      padding: 7px;
      margin: 3px;
      border: 0;
      height: auto;
      font-size: 18px;
      color: white;
      background-color: $background-colour;

      &:hover {
        background-color: lighten($background-colour, 20%);
      }
    }
  }

  table {
    background-color: $background-colour;
    width: 100%;
    padding: 25px;
    font-size: larger;
    border-spacing: 0 20px;
    border-collapse: separate;

    td:nth-child(2) {
      text-align: right;
    }

    .length {
      grid-template-columns: 4fr 1fr;
      grid-template-areas: "slider value";
      display: grid;

      & > span {
        grid-area: slider;
      }

      & > p {
        grid-area: value;
        margin: 0;
      }
    }
  }
}
