@import "../../utils/variables";

.wrapper {
  position: relative;

  .contentWrapper {
    padding-top: 10px;
    height: 100vh;
    width: calc(min(97%, 50em));

    table {
      border-collapse: collapse;
      width: calc(min(100%, 50em));
      margin: 20px auto;

      thead {
        border-bottom: 1px solid grey;

        tr th {
          font-size: 16px;
          padding: 8px;
          text-align: left;
        }
      }

      tbody {
        tr {
          height: 60px;

          &:hover {
            background-color: lighten($background-colour, 4%);
          }

          td {
            padding: 8px;

            p {
              margin: 0;
            }
          }
        }

        tr:not(tr:hover) td:nth-child(4) button {
          visibility: hidden;
        }
      }

      thead tr th:nth-last-child(1), tbody tr td:nth-last-child(1) {
        text-align: right;
      }
    }
  }
}
