// Constants for colour variables
$black: #000000;
$light-grey: #d9d9d9;
$grey: #afafaf;
$dark-grey: #3f3f3f;
$red: #b40e0e;
$green: #15ad18;
$blue: #240370;
$light-blue: #33059e;
$highlight-blue: #4507cb;
