// Constants for colouring properties in variables
@import "colours";

$background-colour: $black;
$background-light-colour: $light-grey;
$background-black-colour: $dark-grey;
$text-colour: white;
$error-colour: $red;

$button-colour: $blue;
$button-colour-light: $light-blue;


$medium_screen_size: 707px;


$background-colour-tmp: wheat;

$black-accent-colour: #363333;

@mixin padding($padding-top: 10px, $padding: 10px) {
  padding: $padding-top $padding $padding $padding;
}

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}
