$input-border: 10px;
$input-colour: white;
$input-label-colour: grey;
$input-background-colour: #2a2a2a;

.focusedModalWrapper {
  margin: 15px;

  .icon {
    margin: 10px;
    text-align: center;
  }

  .inputForm {
    display: grid;

    &.readOnly {
      input {
        background-color: transparent;
      }
      fieldset {
        border-width: 0;
      }
    }
    &:not(.readOnly) {
      input {
        color: $input-colour;
        background-color: $input-background-colour;
        border-radius: $input-border;
      }
    }

    .pwTextField input {
      border-radius: $input-border 0 0 $input-border !important;
    }

    .textField {
      margin-bottom: 10px;

      > div {
        border-radius: $input-border;
      }

      label {
        color: $input-label-colour
      }
    }

    .folderSelect label {
      color: $input-label-colour
    }
  }
}

.MuiPopover-paper {
  left: 500px
}
