.modal {
  background: rgba(0, 0, 0, 0.5) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flex;

  .modalContent {
    width: 500px;
    background-color: #484545;
    padding: 15px;
    border-radius: 10px;

    // Show scrollbar when modal is too long
    max-height: 98vh;
    overflow-y: auto;
  }
}
