@import "../../utils/variables";

ul.navFolderList {
  padding-inline-start: 0;
  height: 85px;
  overflow-y: auto;
  width: 97%;

  li {
    list-style-type: none;
    @media screen and (min-width: $medium_screen_size) {
      padding: 5px;
    }

    a {
      text-decoration: none;

      > svg {
        @media screen and (min-width: $medium_screen_size) {
          margin-right: 5px;
        }
      }
    }
  }
}
