@import "../../utils/colours";
@import "../../utils/variables";

@import "tooltips";

@use "sass:color";

header.wrapper {
  border-right: 1px solid $grey;

  .sidebar {
    grid-area: sidebar;

    > ul {
      padding: 0 40px;
      //overflow-y: auto;//todo breaks tooltips
      height: 100vh;
      margin: 0;

      @media screen and (max-width: $medium_screen_size) {
        text-align: center;
        padding: 0 20px;
      }

      // Navigation links
      > li {
        list-style-type: none;
        margin: 10px 0;

        &:hover {
          background-color: rgba(217, 217, 217, 0.1);
          border-radius: 10px;
        }

        a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;

          &, &:hover, &:focus, &:visited {
            text-decoration: none;
          }

          &.default {
            cursor: default;
          }

          > svg {
            @media screen and (min-width: $medium_screen_size) {
              margin-right: 5px;
            }
          }

          > span {
            overflow-wrap: break-word;

            @media screen and (max-width: $medium_screen_size) {
              display: none;
            }
          }
        }
      }

      // Folder links
      li {
        &:not(:hover) button {
          visibility: hidden;
        }

        // Folder action buttons
        button {
          padding: 0;
          background-color: transparent;
        }
      }

      .folders {
        margin-top: 10px;

        button {
          float: right;
          @media screen and (max-width: $medium_screen_size) {
            display: none;
          }
        }
      }

      .search {
        background-color: $text-colour;
      }
    }
  }
}
