@import "../../../utils/variables";

.auth-form-wrapper .auth-form {
  .error {
    color: $error-colour;
  }

  button {
    color: $text-colour;
    background-color: $button-colour;
    border: 1px solid $button-colour;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &:hover, &:active {
      background-color: $button-colour-light;
      border-color: $button-colour-light;
    }

    &:disabled, &:disabled:hover, &:disabled:active {
      color: #292929;
      background-color: #cccccc;
      border-color: #cccccc;
      cursor: not-allowed;
    }
  }
}
